@import url('index.css');


body, h1, h2, h3, h4, h5, p, span {
    font-family: 'Helvetica Bold', sans-serif;
    font-style: normal;
    color: var(--gray);
}

#arrow {
    position: absolute;
    top: 0rem;
    left: 48%;
    font-size: 4rem;
    color: var(--top-white);
    width: 2rem;
    height: 5rem;
    border-radius: 40%;
    padding: 1rem;
    transition: transform ease .5s;
    animation: move 1s ease 1.5s;
    animation-iteration-count: 5;
}

form {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: repeat(5, auto);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

#controls {
    width: 100vw;
    height: auto;
    position: absolute;
    top: 98vh;
    left: 0;
    background-color: var(--top-white);
    display: flex;
    flex-direction: row;
    z-index: 150;
    border-top: 2rem solid var(--red);
    -webkit-box-shadow: 3px -3px 12px 0px rgba(0,0,0,0.62);
    -moz-box-shadow: 3px -3px 12px 0px rgba(0,0,0,0.62);
    box-shadow: 3px -3px 12px 0px rgba(0,0,0,0.62);
}


#generate {
    color: white;
    background-color: black;
    border-bottom: none;
    padding: 2rem;
    font-size: 5rem !important;
    border: none;
}

textarea::-webkit-scrollbar { 
    width: 0 !important; 
}

form input {
    color: black;
    font-family: 'Helvetica Bold', sans-serif;
    z-index: 1;
    background-color: transparent;
    padding: .5rem;
    margin: 1vw;
    margin-bottom: 0rem;
    border: none;
    border-bottom: 3px gray solid;
}

form input:focus {
    -webkit-appearance:none;
    border-bottom: 5px solid var(--red);
    color: var(--red) !important;
    outline: 0px !important;
    background-color: transparent;
}

.btn {
    font-family: 'Helvetica Bold', sans-serif;
    padding: 1rem;
    padding-left: 2rem;
    font-size: 3rem;
    width: 100%;
    height: auto;
    background-color: var(--top-white);
    border: 2px solid black;
    color: black;
    display: flex;
    justify-content: left;
    align-items: center;
    cursor: pointer;
    transition: all ease-in-out .25s;
}

.btn-container {
    position: absolute;
    top: 3rem;
    width: calc(100% - 64vw - 12rem);
    left: calc(64vw + 8rem);
}

.btn:hover {
    transform: scale(1.05, 1.05);
    color: black;
    transition: all ease-in-out .25s;
    -webkit-box-shadow: var(--drop-shadow);
    -moz-box-shadow: var(--drop-shadow);
    box-shadow: var(--drop-shadow);
}

textarea {
    color: black;
    font-family: 'Helvetica Bold', sans-serif;
    z-index: 1;
    background-color: transparent;
    padding: .5rem;
    margin: 1vw;
    margin-bottom: 0rem;
    resize: none;
    border: none;
    border-bottom: 3px gray solid;
    max-width: calc(100% - 2rem);
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
}

textarea:focus {
    -webkit-appearance:none;
    border-bottom: 5px solid var(--red);
    color: var(--red) !important;
    outline: 0px !important;
    background-color: transparent;
}

.titlein {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 5; 
    margin-top: 0;
    font-size: 10rem;
    border-bottom: 3px gray solid;
    width: 64vw;
}

.subin {
    font-size: 3rem;
    margin-right: 0rem;
    width: 20vw;
    height: 6.2rem;
    padding-top: 0;
    padding-bottom: 1.5rem;
}

#subinput {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2; 
}

#subinput2 {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3; 
}

#subinput3 {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4; 
}

.textin {
    margin-top: 2rem;
    font-size: 1.6rem;
    margin-right: 0;
    width: 20vw;
    height: 6.4rem;
    margin-bottom: 3rem;
}

#txtinput {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2; 
}

#txtinput2 {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3;
}

#txtinput3 {
    margin-bottom: 0;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 4;
}

@keyframes move {
    0% { top: 0; transform: scale(1.0, 1.0);}
    50% { top: -7rem; transform: scale(1.2, 1.2);}
    100% {top: 0; transform: scale(1, 1);}
}

@media (max-width: 1100px) {
    html {
        font-size: 62.5%;
    }
    
    .btn {
        padding-left: 1rem !important;
        font-size: 3rem;
    }

    #generate {
        font-size: 3rem !important;
    }

    .titlein {
        font-size: 9rem;
    }

    .subin {
        font-size: 2.5rem;
    }

    .textin {
        font-size: 1.4rem;
    }
}

@media (max-width: 800px) {
    html {
        font-size: 62.5%;
    }

    #controls {
        flex-wrap: wrap;
        height: auto;
    }
    .titlein {
        font-size: 7rem;
        width: 96vw;
    }
    .subin {
        width: 30vw;
        font-size: 2rem;
    }
    .textin {
        width: 30vw;
        font-size: 1.2rem;
    }

    #refresh {
        width: 96vw;
    }

    .btn-container {
        position: static;
        margin-top: 3rem;
        width: 84%;
        margin-left: 7%;
        margin-bottom: 3rem;
    }
}

@media (max-width:400px) {
    html {
        font-size: 62.5%;
    }
    #form-container {
        margin-top: 2rem;
    }
    .titlein {
        font-size: 3rem;
        width: 90vw;
    }
    .subin {
        width: 28vw;
        font-size: 1.4rem;
    }
    .textin {
        width: 28vw;
        font-size: 1.1rem;
    }

    #refresh {
        width: 94vw;
    }
}

@media print {
    #controls {
        display: none;
    }
}

