@import url("akzidenz/stylesheet.css");

/* @import url("https://use.typekit.net/sbp7nan.css"); */

@font-face {
    font-family: 'Helvetica Light';
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica Neue Light'), url('HelveticaNeueLight.woff') format('woff');
}

@font-face {
    font-family: 'Helvetica Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica Neue Bold'), url('HelveticaNeueBold.woff') format('woff');
}

@font-face {
    font-family: 'Helvetica Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica Neue Medium'), url('HelveticaNeueMedium.woff') format('woff');
}

:root {
    --white: rgb(224, 224, 211);
    --red: rgb(216, 0, 0);
    --blue: rgb(64, 111, 199);
    --orange: rgb(211, 75, 12);
    --yellow: rgb(255, 198, 43);
    --green: rgb(75, 151, 40);
    --top-white: rgb(243, 235, 235);
    --gray: rgb(59, 59, 59);
    --light-gray: rgb(104, 104, 104);
    --dark-red: rgb(241, 83, 83);
    --catch-color: black;
    --text-color: black;
    --font1: 'akzidenzgroteskregular';
    --font2: 'berthold_akzidenz_grotesk_bRg';
    --font3: 'Helvetica Bold';
    --font4: 'Helvetica Light';
    --drop-shadow:  0px 2px 5px 0px rgba(0,0,0,0.37);
    --top-margin: 2rem;
}

html {
    font-size: 62.5%;
    background-color: rgb(146, 146, 146);
    overflow: auto;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

html::-webkit-scrollbar { 
    width: 0 !important; 
}

body {
    scrollbar-width: none;
}

.upper-right-nav {
    font-family: var(--font3), sans-serif;
    position: fixed;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    font-size: 2rem;
    top:  var(--top-margin);
    right: 2rem;
    background-color: transparent;
    color: black;
    z-index: 20;
    cursor: pointer;
    transition: color .25s ease-in 0s;
    display: block;
}

.upper-right-nav span {
    color: black;
    font-size: 2rem;
    font-weight: 700;
    transition: color .25s ease-in 0s;
}

.upper-right-nav:hover > span {
    color: var(--red);
}

.upper-right-nav:hover {
    color: var(--red);
}

#scrollbar {
    position: fixed;
    top: 0;
    width: 1rem;
    background-color: var(--red);
    height: 0;
    transition: height .5s linear 0s;
}

.small {
    display: none;
}

@media (max-width: 800px) {
    .upper-right-nav {
        display: none;
    }

    .small {
        display: flex;
        position: fixed;
        text-align: end;
        z-index: 20;
        cursor: pointer;
        transition: color .25s ease-in 0s;
        background-color: black;
        padding: 0 0 .75rem 1.5rem;
        top: 0;
        right: -1rem;
        color: white;
        font-size: 3rem;
        width: 4rem;
        height: 4rem;
        border-radius: 0 0 0 50%;
    }

    .small:hover {
        color: var(--red);
    }
}