@import url("index.css");

#controls {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: auto;
    background-color: white;
    color: black;
}

#master-controls {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: .25rem;
    grid-row-gap: 1rem;
    margin-top: 1rem;
    margin-right: 4rem;
    margin-bottom: 1.5rem;
}

#master-controls p {
    font-family: sans-serif;
    font-weight: 500;
    color: var(--header-color);
    font-size: 2rem;
    padding: 0.8rem;
}

#drop-controls {
    color: white;
}

.control-title {
    padding: 2rem 1.5rem 1.5rem 2.5rem;
    font-size: 2.4rem;
    font-weight: 700;
    text-align: center;
    background-color: white;
    border-bottom: .2rem solid var(--border-color);
    color: var(--header-color);
}

#refresh-btn {
    color: var(--active-color);
    float: right;
    font-size: 2rem;
    border: none;
    background: none;
    margin-top: .25rem;
    font-weight: 600;
    margin-right: 1.8rem;
    cursor: pointer;
}

.general-header {
    padding: 1rem 0 .75rem 4rem;
    color: var(--header-color);
    border-bottom: .2rem solid var(--border-color);
    font-size: 1.5rem;
    cursor: pointer;
    background-color: rgb(238, 238, 238);
    margin-bottom: 2rem;
}

.checkbox-header {
    padding: 1rem 0 0.75rem 0rem;
    margin-left: 2rem;
    margin-right: 3rem; 
    color: var(--text-color);
    font-size: 2rem;
    cursor: pointer;
    margin-bottom: 0;
}
.control-header {
    padding: 1rem 0 0.75rem 2rem;
    margin-left: 2rem;
    margin-right: 3rem; 
    color: var(--text-color);
    font-size: 2rem;
    border-bottom: .2rem solid var(--border-color);
    /* border-radius: .75rem; */
    cursor: pointer;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.active, .control-header:hover {
    background-color: var(--hover);
}

.panel {
    background-color: white;
    overflow: hidden;
    border-top: none;
    margin-left: 2rem;
    margin-top: 0;
    max-height: 0;
    transition: max-height 0.25s ease-out;
}

.check-text {
    padding-left: 5rem;
    font-size: 2rem;
    color: var(--text-color);
}

.control-box {
    display: flex;
    align-content: left;
    justify-content: left;
    margin: auto auto;
    /* height: 100%; */
    padding: 1rem;
}
.btn {
    color: var(--text-color);
    padding: 1%;
    background-color: white;
    cursor: pointer;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-left: .5rem;
    margin-right: .5rem;
    border: 2px solid var(--border-color);
    border-radius: .75rem;
    font-size: 1.75rem;
}

ul {
    align-content: center;
    justify-content: center;
    /* overflow: scroll; */
    list-style-type: none;
    padding-left: 3rem;
    padding-right: 3rem;
    z-index: 20;
    margin-right: 2.5rem;
}

li {
    background-color: white;
    border-top: 0.1rem solid rgb(161, 161, 161);
    font-family: sans-serif;
    font-weight: 500;
    color: var(--header-color);
    font-size: 2rem;
    padding: 0.8rem;
    cursor: move;
    display: flex;
    flex-direction: row;
}
li:first-child {
    border-top: none;
}
li:last-child {
    border-bottom: 0.1rem solid rgb(161, 161, 161);
}

li:hover {
    background-color: var(--hover);
    color: rgb(22, 74, 117);
    transition: 0.2s linear;
}

li:hover .draggable {
    display: grid;
}

.check-container input {
    opacity: 0;
    position: absolute;
    cursor: pointer;
    margin-top: .4rem;
    margin-bottom: 0;
}

.check-container {
    margin-left: 3rem;
    margin-top: .5rem;
    margin-bottom: 0;
    position: absolute;
    left: 0;
    display: block;
    cursor: pointer;
}

.styled-check {
    position: absolute;
    top: 0;
    left: 0;
    width: 2rem;
    height: 2rem;
    border: 2px solid gray;
    border-radius: .75rem;
    text-align: center;
    font-size: 2rem;
    color: transparent;
}

.check-container input:checked ~ .styled-check {
    border: 2px solid var(--active-color);
    color: var(--active-color);
}




.draggable {
    position: absolute;
    right: 0;
    width: 2rem;
    height: 1.75rem;
    text-align: center;
    display: none;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: .05rem;
    grid-row-gap: .1rem;
    justify-content: center;
    margin-right: 6.5rem;
    margin-top: 1rem;
}

.drag-circle {
    width: .3rem;
    height: .3rem;
    border-radius: 50%;
    background-color: gray;
}

.chevron {
    position: relative;
    float: right;
    margin-right: 2.5rem;
    color: gray;
    font-size: 2.5rem;
}